<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books List</title>
    <link rel="stylesheet" href="{% static "myapp1/css/style1.css" %}"/>
</head>
<body>
    <h1 align="center">List of Books:</h1>
    <div class="bookspub">
        {% if books_published %}
        <table>
            <thead align="center">
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Date</th>
            </thead>
            {% for bk in books_published %}
            <tr>
                <td>{{ bk.title }}</td>
                <td>{{ bk.authors }}</td>
                <td>{{ bk.publisher }}</td>
                <td>{{ bk.publication_date }}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p>No Books Published</p>
        {% endif %}
    </div>


</body>
</html>