<!DOCTYPE html>
{% extends "relurl/base_template.html" %}

{% block base_template %}
    <h1 align="center">List of Books:</h1>
    <div class="bookspub">
        {% if books_published %}
        <table>
            <thead align="center">
            <th>Title</th>
            <th>Author</th>
            <th>Publisher</th>
            <th>Date</th>
            </thead>
            {% for bk in books_published %}
            <tr>
                <td>{{ bk.title }}</td>
                <td>{{ bk.authors }}</td>
                <td>{{ bk.publisher }}</td>
                <td>{{ bk.publication_date }}</td>
            </tr>
            {% endfor %}
        </table>

        {% else %}
        <p>No Books Published</p>
        {% endif %}
    </div>

{% endblock %}